@import "quiz.css";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*:not(input) {
  user-select: none;
  -webkit-user-select: none;
}

body {
  --bg-l0: #fff;
  --bg-l1: #f1f1f1;
  --bg-l2: #e4e4e4;
  --bg-l3: #d7d7d7;

  --txt-c0: #111;
  --txt-c1: #333;
  --txt-c2: #777;
  --txt-inv-c0: #f5f5f5;
  --txt-inv-c1: #dcdcdc;

  --txt-xs: 0.7em;
  --txt-s: 0.85em;
  --txt-m: 1em;
  --txt-l: 1.1em;
  --txt-xl: 2em;

  --btn-bg: #2d5be4;
  --btn-bgh: #4874f9;
  --btn-rad: var(--rad-m);

  --rad-m: 12px;
  --rad-l: calc(var(--rad-m) * 2);

  --light-border: rgba(0, 0, 0, 0.2);
  --shadow-s: 0 3px 4px rgba(0, 0, 0, 0.1);
  --shadow-m: 0 5px 10px rgba(0, 0, 0, 0.1);
  --shadow-l: 0 40px 70px rgba(0, 0, 0, 0.1);
  --tr: 0.15s;
  --tr-l: 0.4s;

  --wrong-bg: rgba(255, 0, 0, 0.2);
  --wrong-border: 1px solid rgba(255, 0, 0, 0.6);
  --correct-bg: rgba(0, 255, 0, 0.2);
  --correct-border: 1px solid rgba(0, 255, 0, 0.6);
  --partial-correct-bg: rgba(255, 205, 0, 0.2);
  --partial-correct-border: 1px solid rgba(255, 205, 0, 0.6);
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-l0: rgb(19, 19, 19);
    --bg-l1: rgb(29, 29, 29);
    --bg-l2: rgb(39, 39, 39);
    --bg-l3: rgb(49, 49, 49);

    --txt-c0: #eee;
    --txt-c1: rgb(195, 195, 195);
    --txt-c2: #777;

    --light-border: rgb(84, 84, 84);
  }
}

body {
  background: var(--bg-l0);
  color: var(--txt-c1);
  font-size: var(--txt-m);
}

h2 {
  font-size: var(--txt-xl);
  color: var(--txt-c0);
}

h3 {
  font-weight: 300;
}

h4 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  color: var(--txt-c2);
  font-size: var(--txt-l);
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 2px;
  border-bottom: 1px solid var(--light-border);
}

small {
  font-style: italic;
  color: var(--txt-c2);
}

header {
  position: fixed;
  top: 10px;
  text-align: center;
  width: 100vw;
  color: var(--txt-c2);
  font-size: 14px;
  z-index: 2;
}

header a {
  color: var(--txt-c2);
}

header a:hover {
  color: var(--txt-c1);
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

input[type="number"],
input[type="text"] {
  padding: 8px 15px;
  margin: 2px;
  border: 1px solid var(--light-border);
  background: var(--bg-l0);
  border-radius: var(--rad-m);
}

input::placeholder,
input::-webkit-input-placeholder {
  color: var(--txt-c2);
}

input,
select {
  color: var(--txt-c1);
}

button {
  border: 0;
  background: 0;
}

.btn {
  background: var(--bg-l2);
  color: var(--txt-c1);
  border-radius: var(--rad-m);
  border: 1px solid var(--light-border);
  padding: 8px 15px;
  font-weight: 700;
  font-size: var(--txt-m);
  cursor: pointer;
  transition: var(--tr);
  backface-visibility: hidden;
  margin: 5px;
}

.btn:not([disabled]):hover {
  box-shadow: var(--shadow-m);
  background: var(--btn-bgh);
  transform: scale(1.005);
}

.btn[disabled] {
  opacity: 0.7;
  color: var(--txt-c2);
  cursor: not-allowed;
}

.btn:not([disabled]):hover {
  background: var(--bg-l3);
}

.btn:not([disabled]):active {
  transform: scale(0.995);
  opacity: 0.9;
}

.btn.primary {
  background: var(--btn-bg);
  color: var(--txt-inv-c0);
}

.btn:not([disabled]).primary:hover {
  background: var(--btn-bgh);
  color: var(--txt-inv-c1);
}

.btn.full-width,
input.full-width {
  width: 100%;
}

.link {
  font-size: var(--txt-s);
  color: var(--txt-c2);
  cursor: pointer;
  transition: var(--tr);
}

.link:hover {
  color: var(--txt-c0);
}

.link.back::before {
  content: "← ";
  transition: var(--tr);
  display: inline-block;
  translate: -2px 0;
}

.link.back:hover::before {
  translate: -4px 0;
}

.flex {
  display: flex;
}

.pane {
  position: absolute;
  transition: var(--tr-l) all;
  opacity: 0;
  scale: 0.98;
  padding: 20px;
  max-width: min(500px, 100vw);
  min-width: 300px;
  max-height: min(700px, 70vh);
  overflow-y: auto;
  box-shadow: var(--shadow-l);
  border-radius: 20px;
  pointer-events: none;
  translate: 0px 1px;
  border: 1px solid var(--light-border);
  background: var(--bg-l1);
}

.pane#begin {
  min-width: 200px;
}

.pane#quiz {
  overflow: hidden;
}

.pane#quiz-start {
  width: 600px;
}

[resizeable] {
  resize: both;
  overflow: auto;
}

.showing {
  opacity: 1;
  scale: 1;
  translate: 0;
  pointer-events: all;
}

.quiz-option-select {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}

.multitoggle-option {
  padding: 3px 6px;
  transition: var(--tr);
  cursor: pointer;
  margin: 2px;
  min-width: 45px;
  text-align: center;
  border: 1px solid var(--light-border);
  border-radius: var(--rad-m);
  animation: multitoggle-shake var(--tr-l);
}

.multitoggle-option.selected {
  background: var(--btn-bg);
  color: var(--txt-inv-c0);
  animation: scale-bigger var(--tr-l);
}

fieldset {
  border: 1px solid var(--light-border);
  border-radius: var(--rad-l);
  padding: 10px;
  margin: 6px 3px;
  background: var(--bg-l2);
}

@keyframes multitoggle-shake {
  30% {
    translate: 2px 0px;
  }

  50% {
    translate: -2px 0px;
  }

  70% {
    translate: 0px 0px;
  }
}

.animator-inner {
  display: inline-block;
  width: fit-content;
}

.invisible {
  opacity: 0;
  pointer-events: none;
  position: fixed;
}

/* Custom checkbox styles! */
input[type="checkbox"] + label {
  cursor: pointer;
  font-size: 90%;
}

input[type="checkbox"] {
  /* Remove most all native input styles */
  appearance: none;
  /* Not removed via appearance */
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  color: white;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid var(--light-border);
  margin-right: 5px;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  transition: var(--tr);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 0.5em 0.5em white;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:checked {
  border: 1px solid var(--light-border);
  background: var(--btn-bg);
}

input[type="checkbox"]:focus {
  outline: 1px solid currentColor;
}

/* Toasts */
.toast-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

.toast {
  width: fit-content;
  margin: 4px;
  padding: 7px 14px;
  background: var(--bg-l1);
  border: 1px solid var(--light-border);
  border-radius: var(--rad-m);
  transform-origin: bottom center;
  transition: var(--tr);
  animation: toast-come-in var(--tr);
}

.toast.hidden {
  scale: 0.9;
  opacity: 0;
}

.toast.error {
  background: var(--wrong-bg);
  border: var(--wrong-border);
}

.toast.success {
  background: var(--correct-bg);
  border: var(--correct-border);
}

.toast-description.smaller {
  font-size: var(--txt-s);
  color: var(--txt-c2);
}

@keyframes toast-come-in {
  from {
    scale: 0.9;
    opacity: 0;
  }
}

/*******
View 
*******/
select {
  padding: 6px 12px;
  border: 1px solid var(--light-border);
  background: var(--bg-l1);
  border-radius: var(--rad-m);
  margin: 3px;
  transition: 0.2s;
  cursor: pointer;
}

select:hover {
  box-shadow: var(--shadow-s);
}

select.hidden,
[data-view-association].hidden {
  display: none;
  /* I wish there was an easy way to animate them in and out */
}

.view-panes {
  position: relative;
}

.view-pane {
  position: absolute;
  width: 100%;
}

table {
  background: var(--bg-l1);
  width: 100%;
  margin: 4px;
  border-collapse: separate;
  border-left: 0;
  border-radius: var(--rad-l);
  border-spacing: 0px;
  border: 1px solid var(--light-border);
}

td,
th {
  padding: 6px 9px;
  vertical-align: top;
}

tr td:not(:nth-child(1 of :not([style*="none"]))),
tr th:not(:nth-child(1 of :not([style*="none"]))) {
  border-left: 1px solid var(--light-border);
}

th {
  padding: 5px;
  background: var(--bg-l0);
}

td {
  border-top: 1px solid var(--light-border);
}

tr:first-child th:nth-child(1 of :not([style*="none"])),
tr:first-child td:nth-child(1 of :not([style*="none"])) {
  border-radius: var(--rad-l) 0 0 0;
}

tr:last-child th:nth-child(1 of :not([style*="none"])),
tr:last-child td:nth-child(1 of :not([style*="none"])) {
  border-radius: 0 0 0 var(--rad-l);
}

tr:first-child th:nth-last-child(1 of :not([style*="none"])),
tr:first-child td:nth-last-child(1 of :not([style*="none"])) {
  border-radius: 0 var(--rad-l) 0 0;
}

tr:last-child th:nth-last-child(1 of :not([style*="none"])),
tr:last-child td:nth-last-child(1 of :not([style*="none"])) {
  border-radius: 0 0 var(--rad-l) 0;
}

.table-row-shrunk {
  width: 0;
}

.view-decl-super {
  border-bottom: 0;
  margin-top: 12px;
  margin-bottom: 0;
}

.view-vocab-word {
  margin: 1px;
  padding: 4px 8px;
  border-bottom: 1px solid var(--light-border);
}

.view-vocab-word:last-child {
  border-bottom: 0;
}

.view-vocab-word .rendered-answer {
  margin-left: 10px;
}

.view-vocab:empty::after {
  content: "No words found";
}

.rendered-answer {
  margin-left: 3px;
  display: inline-block;
}

.quiz-content-outer .rendered-answer {
  font-size: 13px;
  opacity: 1;
}

.text-subtle {
  opacity: 0.6;
}

.text-subtler,
.view-vocab:empty::after {
  font-style: italic;
  font-size: 12px;
  opacity: 0.4;
}
