@import "quiz.css";

h2 {
  font-size: var(--txt-xl);
  color: var(--txt-c0);
}

h3 {
  font-weight: 300;
}

h4 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  color: var(--txt-c2);
  font-size: var(--txt-l);
  padding-bottom: 3px;
  margin-bottom: 3px;
  margin-top: 2px;
  border-bottom: 1px solid var(--border-light);
}

small {
  font-style: italic;
  color: var(--txt-c2);
}

.pane#begin {
  min-width: 200px;
}

.pane#quiz {
  overflow: hidden;
}

.pane#quiz-start {
  width: 600px;
}

[resizeable] {
  resize: both;
  overflow: auto;
}

.showing {
  opacity: 1;
  scale: 1;
  translate: 0;
  pointer-events: all;
}

.invisible {
  visibility: hidden;
  pointer-events: none;
  /* position: absolute; */
}

/* Toasts */
.toast-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

.toast {
  width: fit-content;
  margin: 4px;
  padding: 7px 14px;
  background: var(--bg-l1);
  border: 1px solid var(--border-light);
  border-radius: var(--rad-m);
  transform-origin: bottom center;
  transition: var(--tr);
  animation: toast-come-in var(--tr);
}

.toast.hidden {
  scale: 0.9;
  opacity: 0;
}

.toast.error {
  background: var(--wrong-bg);
  border: var(--wrong-border);
}

.toast.success {
  background: var(--correct-bg);
  border: var(--correct-border);
}

.toast-description.smaller {
  font-size: var(--txt-s);
  color: var(--txt-c2);
}

@keyframes toast-come-in {
  from {
    scale: 0.9;
    opacity: 0;
  }
}

/*******
View 
*******/

.table-row-shrunk {
  width: 0;
}

.view-decl-super {
  border-bottom: 0;
  margin-top: 12px;
  margin-bottom: 0;
}


.view-vocab:empty::after {
  content: "No words found";
}

.rendered-answer {
  margin-left: 3px;
  display: inline-block;
}

.quiz-content .rendered-answer {
  font-size: 13px;
  opacity: 1;
}

.text-subtle {
  opacity: 0.6;
}

.text-subtler,
.view-vocab:empty::after {
  font-style: italic;
  font-size: 12px;
  opacity: 0.4;
}