.quiz-grade {
  display: inline-block;
  color: var(--txt-c2);
  font-size: var(--txt-s);
  text-decoration: underline;
  margin-left: 5px;
}

.quiz-grade:hover {
  color: var(--txt-c1);
  text-decoration: none;
  cursor: pointer;
}



@keyframes correct-answer-load {
  from {
    opacity: 0;
    translate: -4px 0;
  }
}